# SPDX-FileCopyrightText: 2025 Simon Gene Gottlieb
# SPDX-License-Identifier: CC0-1.0
name: "CI"

on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  TZ: Europe/Berlin

concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-22.04, compiler: spdx_license_lint}
          - {os: ubuntu-22.04, compiler: gcc-second-latest-cpp23-release}
          - {os: ubuntu-22.04, compiler: gcc-latest-cpp23-release}
          - {os: ubuntu-22.04, compiler: gcc-latest-cpp23-debug-sanitize_address}
          - {os: ubuntu-22.04, compiler: gcc-latest-cpp23-debug-sanitize_undefined}
          - {os: ubuntu-22.04, compiler: gcc-latest-cpp23-debug-sanitize_thread}
          - {os: ubuntu-22.04, compiler: gcc-latest-cpp23-lcov}
          - {os: ubuntu-22.04, compiler: clang-second-latest-cpp23-release}
          - {os: ubuntu-22.04, compiler: clang-latest-cpp23-release}
          - {os: macos-13,     compiler: gcc-latest-cpp23-release}
          - {os: macos-13,     compiler: clang-latest-cpp23-release}
          - {os: windows-2022, compiler: msvc-cpp23-release}
          - {os: windows-2022, compiler: msvc-cpp23-debug}
          - {os: ubuntu-22.04, compiler: emscripten-cpp23-release, cmake_flags: "-DCMAKE_EXE_LINKER_FLAGS='-sMEMORY64'", cmake_cxx_flags: "-sMEMORY64", cmake_c_flags: "-sMEMORY64"}
    steps:
      - name: Standard IV-project testing
        uses: iv-project/IVaction@v11.1
        with:
          compiler: ${{ matrix.compiler }}
          threads: 2
          cmake_flags: ${{ matrix.cmake_flags }}
          cmake_c_flags: ${{ matrix.cmake_c_flags }}
          cmake_cxx_flags: ${{ matrix.cmake_cxx_flags }}
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
  final:
    runs-on: ubuntu-22.04
    name: final-pass
    needs: build
    if: always()
    steps:
      - name: Succeeded
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: CI failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
